.identification{
    max-width: 300px;
    height: 250px;
    margin:auto;
    color:white;
    background-color: rgb(20, 199, 175);
    border-radius: 5px;
    margin-top: 100px;
    padding: 0 7px ;
}

div.title{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: center;
    height: 20%;
}
.identification form {
    display: block;
    position: relative;
    width: 100%;
    height: 80%;
}
form div{
    display: flex;
    justify-content: space-between;
    height: 30px;
}
form div label{
    align-self: center;
    font-size: 15px;
    text-align: center;
}
form input{
    background-color: rgb(5, 97, 97);
    width: 70%;
    border: 2px solid rgb(77, 178, 182);
    border-radius: 5px;
}
button.submit-btn{
    width: auto;
    margin:auto;
    position: absolute;
    right: 0;
    bottom: 5px;
}
input:hover{
    border:1px solid red;
}

