.display-cinema-places{
    width:100%;
    min-height:200px; 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px,250px));
    grid-template-rows: repeat(auto-fill, minmax(200px, 230px));
    /* flex-direction: column; */
    grid-row-gap: 5px;
    grid-column-gap: 30px;
    /* margin-top: 10%; */
}
.cinema {
    display: block;
    margin: 0 10px;
}
li{
    list-style: none;
}
.link{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    color:white;
    font-size:larger;
    font-weight:bold;
}
.link img{
    width:150px;
    height:150px; 
    object-fit:fill;
}
.link div{
    width: 100%;
    text-align: center;
    height: auto;
}


