 .footer{
    width: 100%;
    height: 70px;
    background-color: rgb(19, 158, 119);
    
    /* align-content: center; */
    margin-top: 100%;/*42vh*/
    /*34*/
    position: sticky;
    bottom: 0;
    /* margin-bottom: 100px; */
    
} 
 .footer .description-footer{
    width:250px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0 auto;
    padding: 5px 3px;
    /* background-color: bisque; */
}
.description-footer .partner{
    width:calc(100%-3px);
    height: calc(40%-5px);
    font-weight: 800;
    margin-bottom: 0;
    /* background-color: azure; */
}
.description-footer .links{
    width: calc(100%-3px);
    height: 40px;
    font-weight: 800;
    /* background-color: azure; */
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    /* margin: 0 auto; */
}
  .links .link{
    width: 100%;
    height: 20px;
    display: block;
    color: black;
    /* background-color: red; */
    font-weight: 400;
}
.link:hover{
    color:rgb(107, 107, 189);
}  

 
